:root {
    --bodyColour: #545e75;
    --buttonColour: #8b2635;
    --buttonText: #e0e2db;
}
body {
    display: flex;
    padding-top: 15vh;
    justify-content: center;
    background-color: rgba(17, 17, 17, 0.89);
}
.bodyTopBar {
    height: 10px;
    width: 310px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--bodyColour);
}
.bodyTotalBar {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 310px;
    background-color: var(--bodyColour);
}
.bodyScreenBar {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 310px;
    background-color: var(--bodyColour);
}
.screenDisplay {
    width: 275px;
    font-size: 40px;
    text-align: end;
    padding-right: 20px;
    color:whitesmoke;
    background-color: #131313
}
.screenDisplayTotal {
    height: 50px;
    width: 275px;
    color:rgb(250, 176, 65);
    font-size: 40px;
    text-align: start;
    padding-left: 20px;
    padding-top: 4px;
    background-color: #131313
}
.bodyBottomBar {
    height: 15px;
    width: 310px;
    background-color: var(--bodyColour);
}
#buttonsContainer {
    height: 372px;
    width: 310px;
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    justify-content: center;
    background-color: var(--bodyColour);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.buttonSquare {
    padding: 0;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number{
    font-size: 40px;
    border-radius: 6px;
    width: 75px;
    height: 75px;
}
.rect {
    font-size: 30px;
    border-radius: 6px;
    width: 75px;
    height: 75px;
}

.small {
    font-size: 40px;
    border-radius: 6px;
    width: 75px;
    height: 75px;
}
button {
    background-color: var(--buttonColour);
    color: var(--buttonText);
    margin-bottom: 15px;
}